
body {
    background-color: #1d2630;
    color: white;
}
.navbar {
    margin-bottom: 50px;
    background-color: rgb(9, 153, 110);
    position: fixed;
    padding: 0.5rem 1rem;
    line-height: 1.2;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar-brand {
    margin-left: 60px;
    font-size: 30px;
    color: rgb(230, 230, 230);
    font-family: 'Georgia', serif;
    pointer-events: none;
}
.nav-item {
    margin-right: 35px;
    font-size: 18px;
}
.nav-link {
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
}
.nav-link:hover {
    color: #c0c8d1;
    background-color: rgba(255, 255, 255, 0.2);
}
.container {
    margin-top: 100px;
}
.form-container {
    max-width: 400px;
    width: 80%;
    margin: auto;
}
input {
    width: 90%;
    height: 50px;
}
h2 {
    color: white;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    white-space: nowrap; 
    overflow: hidden; 
   
}
h3 {
    color: rgb(9, 153, 110);
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 30px;
}
.btn-primary {
    background-color: rgb(9, 153, 110);
    border-color: rgb(9, 153, 110);
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
