/* testing comments*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
   
}

h2, h3 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Basic styling for the navigation bar */
.navbar {
    display: flex;
   /* justify-content: space-between; */ /* Space between links and logout button */
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Example background color */
    color:white;
}

/* Styling for the navigation links 
.nav-links {
color: white;

    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}*/

/* Styling for the logout button */
.logout-button {
    background-color: #ff4d4d; /* Example button color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left:auto;
    align:right;    
}
#view-button {
    background-color: #ff4d4d; /* Example button color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left:auto;
}

.logout-button:hover {
    background-color: #e60000; /* Darker color on hover */
}